# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# AI Files
ai_reference/*

# WSL
.gradle-ci
.gradle-user

# Misc
scripts/__pycache__/*